[submodule "abseil-cpp"]
	path = abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "fast_ber"]
	path = fast_ber
	url = https://github.com/Samuel-Tyler/fast_ber.git
[submodule "3rd_party/fast_ber"]
	path = 3rd_party/fast_ber
	url = https://github.com/Samuel-Tyler/fast_ber.git
[submodule "3rd_party/abseil-cpp"]
	path = 3rd_party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
